@model IQueryable<WebApplication7.Models.EmployeeVM>
@using Microsoft.Extensions.Localization
@using AspGraduateProjAdminPan.Resource.Department
@*to access Key And Value in resource file ,make it globale tob accessable*@
@inject IStringLocalizer<ShRes> SharedLocalizer
@{
    ViewBag.Title = SharedLocalizer["Employee"];
}
<head>

    <script src="~/jquery/jquery.min.js"></script>

<script >
    $(function(){

        $("#mr").text="fdf"

        $("#mr").click(function(){
           $("#mr").val("sd")
           alert("s")
        })
    })
</script>
</head>
<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">@SharedLocalizer["Add"]</a>
<a asp-controller="Employee" asp-action="Index" asp-route-culture="en-US">@SharedLocalizer["English"]</a>
<a asp-controller="Employee" asp-action="Index" asp-route-culture="ar-EG">@SharedLocalizer["Arabic"]</a>

<table class="table table-striped table-hover center-align">
    <tr>


        <th>@SharedLocalizer["Id"]</th>
        <th>@SharedLocalizer["Name"]</th>

        <th>@SharedLocalizer["HireDate"]</th>

 
        <th>@SharedLocalizer["Adress"]</th>
        <th>@SharedLocalizer["DepartmentId"]</th>
        <th>@SharedLocalizer["Salary"]</th>
        <th>@SharedLocalizer["IsActive"]</th>
        <th>@SharedLocalizer["DistrictId"]</th>
        <th>@SharedLocalizer["Edit"]</th>

        <th>@SharedLocalizer["Delete"]</th>
  
 

    </tr>
    @foreach (var m in Model)
    {
<tr>



    <td>@m.Id</td>
    <td>@m.Name</td>
    <td>@m.HireDate</td>
    <td>@m.Address</td>
    <td>@m.DepId</td>
    <td>@m.Salary</td>

    <td>@m.IsActive</td>
    <td>@m.DistrictId</td>
    <td> <a asp-action="Edit" asp-controller="Employee" asp-route-id="@m.Id" class="btn btn-primary"> Eidt</a>  </td>
    <td> <a asp-action="Delete" asp-controller="Employee" asp-route-id="@m.Id" class="btn btn-danger"> Delete</a>  </td>

</tr>


    }
</table>

<h1 id="mr">ddsd</h1>


