 @model IQueryable<WebApplication7.Models.EmployeeVM>
<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Add Employee</a>
<table class="table table-striped table-hover center-align">
    <tr>


        <th>EmployeeId</th>
        <th>EmployeeName</th>

        <th>EmployeeEmail</th>

        <th>EmployeeAddress</th>
<<<<<<< HEAD
        <th>DepartmentId</th>
        <th>EmployeeSalary</th>

=======
        <th>EmployeeDepId</th>
>>>>>>> 0a2771e6529a943a5acbd3a194bd52da5029f7b5
        <th>Employeedat</th>
        <th>Edit</th>
        <th>Delete</th>


    </tr>
    @foreach (var m in Model)
    {
<tr>



    <td>@m.Id</td>
    <td>@m.Name</td>
    <td>@m.HireDate</td>
    <td>@m.Address</td>
    <td>@m.DepId</td>
    <td>@m.Salary</td>

    <td>@m.IsActive</td>
    <td> <a asp-action="Edit" asp-controller="Employee" asp-route-id="@m.Id" class="btn btn-primary"> Eidt</a>  </td>
    <td> <a asp-action="Delete" asp-controller="Employee" asp-route-id="@m.Id" class="btn btn-danger"> Delete</a>  </td>

</tr>


    }
</table>
